[urgency_low]
    background = "{{ bg.inverted }}"
    foreground = "{{ fg.inverted }}"
    timeout = 5

[urgency_normal]
    background = "{{ fg.info }}"
    foreground = "{{ fg.normal }}"
    timeout = 10

[urgency_critical]
    background = "{{ fg.error }}"
    foreground = "{{ fg.normal }}"
    timeout = 0
