--color=fg:{{ fg.normal }}
--color=fg+:{{ fg.normal }}
--color=bg:-1
--color=bg+:{{ bg.highlight }}
--color=hl:{{ bg.cursor }}
--color=hl+:{{ bg.cursor }}
--color=info:{{ fg.status }}
--color=marker:{{ fg.normal }}
--color=prompt:{{ fg.normal }}
--color=spinner:{{ fg.normal }}
--color=pointer:{{ bg.cursor }}
--color=header:{{ fg.status }}
--color=border:{{ fg.normal }}
--color=label:{{ fg.normal }}
--color=query:{{ fg.normal }}
