set $background  {{ bg.active }}ff
set $foreground  {{ fg.normal }}
set $focused_bg  {{ bg.inverted }}ff
set $focused_fg  {{ fg.inverted }}
set $active_bg   {{ bg.active }}ff
set $active_fg   {{ fg.normal }}
set $inactive_bg {{ bg.inactive }}ff
set $inactive_fg {{ fg.status }}
set $urgent_bg   {{ bg.urgent }}
set $urgent_fg   {{ fg.normal }}

bar {
    status_command $status_command
    i3bar_command $i3bar_command
    tray_output $tray_output
    colors {
        background         $background
        statusline         $foreground
        focused_workspace  $focused_bg  $focused_bg  $focused_fg
        active_workspace   $active_bg   $active_bg   $active_fg
        inactive_workspace $inactive_bg $inactive_bg $inactive_fg
        urgent_workspace   $urgent_bg   $urgent_bg   $urgent_fg
    }
}
