--inside-color={{ bg.inactive }}ff \
--ring-color={{ fg.normal }}ff \
--insidever-color={{ bg.active }}ff \
--ringver-color={{ green[1] }}ff \
--insidewrong-color={{ bg.active }}ff \
--ringwrong-color={{ red[1] }}ff \
--line-color=00000000 \
--keyhl-color={{ blue[1] }}ff \
--bshl-color={{ red[1] }}ff \
--separator-color=00000000 \
--verif-color={{ green[1] }}ff \
--wrong-color={{ red[1] }}ff \
--modif-color={{ blue[1] }}ff \
--time-color={{ fg.normal }}ff \
--date-color={{ fg.normal }}ff \
