foreground               {{ fg.normal }}
background               {{ bg.active }}
selection_foreground     {{ fg.normal }}
selection_background     {{ bg.select }}

cursor                   {{ bg.cursor }}
cursor_text_color        {{ fg.normal }}

url_color                {{ blue[1] }}

active_tab_foreground    {{ fg.normal }}
active_tab_background    {{ bg.active }}
inactive_tab_foreground  {{ fg.normal }}
inactive_tab_background  {{ bg.inactive }}

active_border_color      {{ fg.normal }}
inactive_border_color    {{ fg.normal }}

# black
color0   {{ base[0.4] }}
color8   {{ base[0.3] }}

# red
color1   {{ red[1] }}
color9   {{ red[0.75] }}

# green
color2   {{ green[1] }}
color10  {{ green[0.75] }}

# yellow
color3   {{ yellow[1] }}
color11  {{ yellow[0.75] }}

# blue
color4   {{ blue[1] }}
color12  {{ blue[0.75] }}

# magenta
color5   {{ base[0.8] }}
color13  {{ base[0.5] }}

# cyan
color6   {{ base[0.9] }}
color14  {{ base[0.6] }}

# white
color7   {{ base[1] }}
color15  {{ base[0.7] }}
