set -g window-active-style bg='{{ bg.active }}'
set -g window-style bg='{{ bg.inactive }}'
set -g pane-active-border-style 'bg={{ bg.active }} fg={{ fg.normal }}'
set -g pane-border-style 'bg={{ bg.inactive }} fg={{ fg.normal }}'
set -g mode-style 'fg={{ fg.normal }} bg={{ bg.select }}'

